body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #eee;
}

#main{
    background-color: white;
    padding: 40px;
}

#title-div {
    padding: 30px;
}

#title {
    font-size: 3em;
    margin: 0;
}

#title + p {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 4px;
}

.img-div {
    width: 100%;
}

img {
    width: 70%;
    margin-bottom: 20px;
}

#img-caption{
    letter-spacing: 4px;
}

#tribute-info {
    margin: 0 auto;
    padding: 50px;
    width: 45%;
    text-align: left;
    font-size: 0.9em;
}

#info-title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 400;
}

#tribute-info span{
    font-weight: bold;
    color: #363636;
}

#tribute-info p{
    margin-bottom: 20px;
    line-height: 2em;
    font-weight: 500;
    color: #6b6b6b;
}

#quote-div  p{
    line-height: 1.5em;
    font-style: italic;
    margin-bottom: 10px;
}

cite {

    color: #6b6b6b;
}

#footer-div{
    margin-bottom: 50px;
    color: 363636;
    font-weight: bold;
    font-size: 1.1em;
}

#footer-div a{
    color: #477CA7;
}

@media (max-width: 1025px){


    #tribute-info {
        width: 70%;
    }
}